<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
                <djengapayment>
                <active>1</active>
                <model>Equitydjenga\Equitymodule\Model\DjengaPayment</model>

                <title>EQUITY_DJENGA Payment Gateway</title>

                
              <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
              <cctypes>AE,VI,MC,DI,JCB</cctypes>
              <allowspecific>0</allowspecific>
              <min_order_total>1</min_order_total>


            </djengapayment>
            <!-- payment-config -->
        </payment>
    </default>
</config>
